body{
        margin: 0%;
        padding: 0%;
        color: #484848;
        font-size: 14px;
        font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 30px; 
        margin-bottom: 30px;
}

h3{
        font-weight: 600;
        margin-bottom: 0px;
        margin-left: 30px;
}

h4{
        margin: 0px;
        font-weight: 400;
        font-size: 14px;
        margin-left: 30px;
}

h2{
        margin-top: 0px;
        font-size: 16px;
        margin-left: h4;
}